.page-body{   
    height: 100vh;
    background-image: url("../../../assets/Images/main-background.jpg");
    background-color: #222831;
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;

}

.regist-container-style{
    width: 420px;
    height: 590px;
    background-color: #080808e7;
    margin-left: calc(50% - 210px);
    border-radius: 15px;
    position:fixed;
    margin-top: 20px;
    
}

.regist-container-input-style{
    display: inline;
    float: left;
    margin: 55px;
    margin-top: 30px;
    margin-bottom: 20px;

}

.regist-head-style{
    font-size: 28px;
    text-align: center;
    font-weight: bolder;
    color: #ffffff;

}

.input-icon-style{
    float: left;
    width: 50px;
    margin-top: 15px;
    margin-left: 10px;
    padding: 10px 0px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    font-size: 24px;
    color: #ffffff;
    text-align:center;
    background-color: #31363F;

}

.txt-style{
    width: 230px;
    height: 50px;
    margin-top: 15px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border: 0px;
    font-size: 14px;
    padding:1px 8px;
    background-color: #31363F;
    color: #ffffff;
}

.txt-style:hover{
    border: 0px;
}

.txt-style:valid{
    border: 0px;
}

#terms{
    margin: 15px 5px 30px 15px;
    width: 16px;
    height: 16px;
}

#terms-txt{
    font-size: 16px;
    font-weight: normal;
    color: #aaaaaa;
}

#terms-txt>a{
    color: #ffffff;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

.but-style{
    width: 295px;
    height: 50px;
    margin-left: 10px;
    border-radius: 7px;
    border: 0px;
    font-size: 18px;
    background-color: rgb(200, 10, 20);
    color: #ffffff;

    &:hover,
    &:focus {
        background-color: rgb(175, 15, 25);
    }
}

#loginbut{
    text-align: center;
    font-size: 15px;
    color: #aaaaaa;

}

#loginbut>a{
    font-weight: normal;
    color: #ffffff;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}