<div class="header-style">
    <div class="head-menu-style">
        <nav>
            <a [routerLink]="['/main/home']">
                <img src="../../../assets/Images/website-logo3.png" width=210px height=70px>
            </a>
            <ul class="list">
                <li><a [routerLink]="['/main/home']">Home</a></li>
                <li><a [routerLink]="['/main/Favorite']">Favorite</a></li>
                <li>
                    <button class="loginbut-style" [routerLink]="['/login']">Login</button>
                </li>
            </ul>
            <button class="menu">Menu</button>
        </nav>
    </div>
</div>