<div class="page-body">
    <div class="login-container-style">
        <form action="#" method="POST" class="login-container-input-style" autocomplete="off">
            <h1 class="log-head-style">Login</h1>
            <span class="input-icon-style"><i class="fa-solid fa-envelope"></i></span>
            <input type="email" name="email" autocomplete="off" id="unmae" class="txt-style" placeholder="E-mail"  required>
            <span class="input-icon-style"><i class="fa-solid fa-key"></i></span>
            <input type="password" name="user-password" id="upass" class="txt-style" placeholder="Password"
                required><br>
            <input type="checkbox" name="RememberMe" id="rememder"><label for="RememberMe" id="rememder-txt"> Remember
                Me</label><br>
            <input type="submit" value="Login" id="logbut" class="but-style">
        </form>
        <p id="registbut">Don't have account yet? <a [routerLink]="['/register']">create account</a></p>
        <p id="registbut">Back to <a [routerLink]="['/main/home']">home</a></p>
    </div>
</div>